body {
  background-color: hsl(0, 0%, 22%);
}

.drivers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

#drivers label {
  display: flex;
  color: #fff;
  font-size: 3rem;
}